.container {
  display: flex;
}

.video {
  position: fixed;
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgb(129, 93, 93) 0%,
    rgba(0, 0, 0, 0) 9%,
    rgba(0, 0, 0, 0) 71%,
    rgba(0, 0, 0, 1) 100%
  );
}

@media (min-width: 800px) {
  .video {
    top: 0;
    position: fixed;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
