.container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 8dvh;
  max-height: 8dvh;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
  z-index: 100;
  backdrop-filter: blur(15px) saturate(160%);
  padding: 0px 20px;
}

.icon {
  height: 2.8vh;
}
.logo {
  height: 2.2vh;
}

@media (min-width: 800px) {
}
